[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DepthProc"]
	path = DepthProc
	url = https://github.com/zzawadz/depthproc
[submodule "dragulaR"]
	path = dragulaR
	url = https://github.com/zzawadz/dragular
