[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DepthProc"]
	path = DepthProc
	url = https://github.com/zzawadz/depthproc
	shallow = true
	registered = true
